*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
app/build
/captures
/node_modules
*.log
apks/
app/libs/org.eclipse.wst.xml.xpath2.processor*.jar
vendor/build/
vendor/.upstream/
package-lock.json*
.settings
.classpath
.tool-versions
# Matrix local gradle home (sandboxed builds keep caches inside the workspace)
.gradle-home/
